In [5]:
import SQLtree_based_similarity as sql_scoring

sql_scoring.unparsed_query_similarity("SELECT frpm.`percent (%) eligible free (ages 5-17)` FROM frpm WHERE frpm.`educational option type` = 'Continuation School' AND frpm.`percent (%) eligible free (ages 5-17)` = ( SELECT min(frpm.`percent (%) eligible free (ages 5-17)`) FROM frpm WHERE frpm.`educational option type` = 'Continuation School' AND frpm.`percent (%) eligible free (ages 5-17)` IS NOT NULL AND frpm.`percent (%) eligible free (ages 5-17)` > 0.0 AND frpm.`percent (%) eligible free (ages 5-17)` < 100.0 AND frpm.`percent (%) eligible free (ages 5-17)` IS NOT NULL AND frpm.`percent (%) eligible free (ages 5-17)` > 0.0 AND frpm.`percent (%) eligible free (ages 5-17)` < 100.0 AND frpm.`percent (%) eligible free (ages 5-17)` IS NOT NULL AND frpm.`percent (%) eligible free (ages 5-17)` > 0.0 AND frpm.`percent (%) eligible free (ages 5-17)` < 100.0 AND frpm.`percent (%) eligible free (ages 5-17)` IS NOT NULL AND frpm.`percent (%) eligible free (ages 5-17)` > 0.0 AND frpm.`percent (%) eligible free (ages 5-17)` < 100.0 AND frpm.`percent (%) eligible free (ages 5-17)` IS NOT NULL AND frpm.`percent (%) eligible free (ages 5-17)` > 0.0 AND frpm.`percent (%) eligible free " , 
                                      'SELECT satscores.cname, schools.latitude, schools.longitude FROM satscores INNER JOIN schools ON satscores.cds = schools.cdscode WHERE satscores.avgscrmath = ( SELECT avg(satscores.avgscrmath) FROM satscores WHERE s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s s' )

query1 = "SELECT max(frpm.`free meal count (k-12)`) / max(frpm.`enrollment (k-12)`) FROM frpm INNER JOIN schools ON frpm.cdscode = schools.cdscode WHERE schools.county = 'Alameda'"
query2 = "SELECT max(cast(frpm.`free meal count (k-12)` AS REAL) / frpm.`enrollment (k-12)`) FROM frpm INNER JOIN schools ON frpm.cdscode = schools.cdscode WHERE schools.county = 'Alameda'"
sql_scoring.unparsed_query_similarity(query1, query2)

0.8845598845598847

In [10]:
from sqlglot import parse_one
from sqlglot.errors import ErrorLevel

query1 = "max(frpm.`free meal count (k-12)`) / max(frpm.`enrollment (k-12)`) FROM frpm INNER JOIN schools ON frpm.cdscode = schools.cdscode WHERE schools.county = 'Alameda'"
query1 = query1.replace('`' , '"')
q_parsed = parse_one(query1 , error_level=ErrorLevel.IGNORE)
for i in q_parsed.dfs():
    print(i)

MAX(frpm."free meal count (k-12)") / MAX(frpm."enrollment (k-12)")
MAX(frpm."free meal count (k-12)")
frpm."free meal count (k-12)"
"free meal count (k-12)"
frpm
MAX(frpm."enrollment (k-12)")
frpm."enrollment (k-12)"
"enrollment (k-12)"
frpm

In [31]:
from suffix_tree import Tree

def longest_repeated_substring(text):
    text += "$"  # Add unique termination character
    tree = Tree({"data": text})
    
    maximal_repeat = tree.maximal_repeats()
    longest_string = ''
    # c, path = maximal_repeat[-1]
    # return path
    for c, path in maximal_repeat:
        if len(path)>len(longest_string):
            longest_string=path
    return longest_string.__str__()[::2]

# Example usage
text = "SELECT min(schools.opendate) FROM schools INNER JOIN frpm ON schools.cdscode = frpm.cdscode WHERE frpm.`academic year` = '2014-2015' AND frpm.`school type` = 'K-12 Schools (Public)' AND frpm.`enrollment (k-12)` = ( SELECT max(`enrollment (k-12)`) FROM frpm WHERE frpm WHERE frpm.`academic year` = '2014-2015' AND frpm.`school type` = 'K-12 Schools (Public)' AND frpm.`enrollment (k-12)` IS NOT NULL AND frpm.`enrollment (k-12)` > 0.0 );"
result = longest_repeated_substring(text)
print(f"Longest repeated substring: {result}")
print(len(result))

Longest repeated substring:  WHERE frpm.`academic year` = '2014-2015' AND frpm.`school type` = 'K-12 Schools (Public)' AND frpm.`enrollment (k-12)`
120

In [33]:
string = "frpm.`academic year` = '2014-2015' AND "
print(len(string))

39